<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#my_button").click(function(e) {
            $.ajax({
                type: "POST",
                url: "/logout",
                // data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    $('#body').html(data); // show response from the php script.
                }
            });
        });
    });
</script>
<p>Logged as {{ user.username }}</p>
<div id="my_button" type="button">Logout<div>