<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#my_form").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $('#body').html(data); // show response from the php script.
                    }
                    });
            });

            function logout() {
                $.ajax({
                    type: "POST",
                    url: "/logout",
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $('#body').html(data); // show response from the php script.
                    }
                    });
            }
        });
    </script>
</head>
<html>
    <body id="body">
        <form id="my_form" action="/account" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>