<!DOCTYPE html>
<html>
<head>
    <title>Create table</title>
</head>
<body>
{% if object_list %}
    <table style="border:1px solid black">
        <tr>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
        {% for article in  object_list%}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis }}</td>
                <td>{{ article.created }}</td>
                <td><a href="/article/{{ article.id }}">Detail</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No data available</p>
{% endif %}
</body>
</html>